Usage of Zlib::Deflate doesn't comply with RFC7516

While trying to consume ruby-jwe generated tokens in Clojure's [buddy-sign](https://github.com/funcool/buddy-sign) library, I raised [this issue](https://github.com/funcool/buddy-core/issues/37) with the buddy developers.

They've investigated and found that when ruby-jwe calls Zlib::Deflate, it produces a byte stream that doesn't conform with [RFC7516 4.1.3](https://tools.ietf.org/html/rfc7516#section-4.1.3). Turns out you have to go out of your way to make it comply with [RFC1951](https://www.ietf.org/rfc/rfc1951.txt) rather than [RFC1950](https://www.ietf.org/rfc/rfc1950.txt).

More details are in the [issue I raised](https://github.com/funcool/buddy-core/issues/37) :) 


Hi @hagmonk 

Sorry for being this late, as I said elsewhere I can only give small bursts of attention to the project, and for this particular issue I wanted to be double sure to fix it right and in a backward compatible fashion.

Even though you may not need it anymore (iirc, you had already solved thanks to the buddy-core guys), I just wanted you to know that this is now fixed and I'm going to publish any time soon.

